{
  "extends" : "eslint-config-airbnb",
  "rules": {
    "array-callback-return" : 0,
    "no-await-in-loop": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "prefer-promise-reject-errors": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "react/forbid-prop-types": 0,
    "react/no-find-dom-node": 0
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
